---
title: Membership
layout: default
section_id: membership
---

<div class='full parallax' style='background-image: url(/assets/images/stock/judging.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Membership" color="#fff" tagline="Join the club" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  {% include membership-types.html %}
  {% include benefits.html %}
  <div class='four spacing'></div>
  <div class="row">
    <div class="large-12 columns">
      <p class="centered-text">
        <a class="button" href="/membership/join">JOIN / RENEW</a>
      </p>
    </div>
  </div>
</div>



