
  {% for meeting in site.data.meetings %}
    {% assign loopindex = forloop.index | modulo: 3 %}
    {% if loopindex == 1 %}
    <div class="row">
    {% endif %}
    <div class="medium-4 large-4 columns">
      <div class='mod modIconText' style="padding:10px;margin:10px 0;background: #000;background: rgba(0,0,0,.8);" >
        <div class='icon-text-simple'>
          <i class='fa fa-calendar'></i>
          <h3 style="color:#fefefe;">{{meeting.month}} 8pm</h3>
          {% if meeting.topic %}
          <p>Topic: {% if meeting.topic_url%}<a href='{{meeting.topic_url}}' target="_blank">{{meeting.topic}}</a>{% else %}{{meeting.topic}}{% endif %}</p>
          {% endif %}
          <p>Location: {% if meeting.location_url%}<a href='{{meeting.location_url}}' target="_blank">{{meeting.location}}</a>{% else %}{{meeting.location}}{% endif %}</p>
          <!--{% if meeting.homebrew != null %}<p class="can-i-bring-homebrew">Can I bring homebrew? {% if meeting.homebrew %}<i class='fa fa-check'></i>{% else %}<i class='fa fa-times'></i>{% endif %}</p>{% endif %}-->
        </div>
      </div>
    </div>
    {% if loopindex == 0 %}
    </div>
    {% endif %}
  {% endfor %}

