<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- JS -->
    <!-- inject:js -->
    <script src="/assets/javascript/index.js"></script>
    <!-- endinject -->

    <script>
      // terrificjs bootstrap
      (function($) {
        $(document).ready(function() {
          var $page = $('body');
          var config = {
            dependencyPath: {
              plugin: 'javascripts/'
            }
          }
          var application = new Tc.Application($page, config);
          application.registerModules();
          application.start();
        });
      })(Tc.$);
    </script>

    <script src="//cdn.muut.com/1/moot.min.js"></script>
    <script>
      muut('format', function(body, post) {
        var $ = jQuery;

        $('.m-image', body).wrapAll("<div class='image-wrapper' />")
        $('.m-image', body).each(function() {
          var el = $(this),
              src = el.attr('href');
          $.each(post.uploads || [], function(i, file) {
            if (file.altname.toLowerCase() == src.toLowerCase()) src = file.data
          });
          el.ac('thumb').html('<img src="' + src + '">').addClass('image-preview-wrapper');
        });
      });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79716680-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>
