<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- JS -->
    <!-- inject:js -->
    <script src="/assets/javascript/index.js"></script>
    <!-- endinject -->

    <script>
      // terrificjs bootstrap
      (function($) {
        $(document).ready(function() {
          var $page = $('body');
          var config = {
            dependencyPath: {
              plugin: 'javascripts/'
            }
          }
          var application = new Tc.Application($page, config);
          application.registerModules();
          application.start();
        });
      })(Tc.$);
    </script>

    <script id="dsq-count-scr" src="//yeastwranglers.disqus.com/count.js" async></script>
  </body>

</html>
