<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- JS -->
    <!-- inject:js -->
    <script src="/assets/javascript/index.js"></script>
    <!-- endinject -->

    <script>
      // terrificjs bootstrap
      (function($) {
        $(document).ready(function() {
          var $page = $('body');
          var config = {
            dependencyPath: {
              plugin: 'javascripts/'
            }
          }
          var application = new Tc.Application($page, config);
          application.registerModules();
          application.start();
        });
      })(Tc.$);
    </script>

    <script id="dsq-count-scr" src="//yeastwranglers.disqus.com/count.js" async></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79716680-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>

</html>
