---
layout: default
title: Join
section_id: join
---

<div class='full parallax' style='background-image: url(/assets/images/stock/judging.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Join / Renew" color="#fff" tagline="do it" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="full">
  <div id='payment-success' style="display: none;" class="alert-box success text-center">
    Thank you for your payment! Please ensure you have also filled out the membership form. Your Membership card will avaliable at monthly meetings or at the Vineyard.
  </div>
  {% include membership-types.html %}
</div>

<div id="join" class='full'>
  <div class='row'>
    <div class='tweleve columns'>
      <div class="alert-box warning text-center">
        Please fill out the membership form below <strong>AND</strong> pay via PayPal.
      </div>
    </div>
  </div>

  <div id='membership-form' class='row'>

    <div class='medium-8 medium-centered columns'>
      <div class='form'>
        <div id="wufoo-rizdtnt1vl4p6z">
          Fill out my <a href="https://chrisvdp.wufoo.com/forms/rizdtnt1vl4p6z">online form</a>.
          </div>
          <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">There are tons of <a href="http://www.wufoo.com/features/">Wufoo features</a> to help make your forms awesome.</div>
          <script type="text/javascript">var rizdtnt1vl4p6z;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'chrisvdp',
          'formHash':'rizdtnt1vl4p6z',
          'autoResize':true,
          'height':'821',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { rizdtnt1vl4p6z = new WufooForm();rizdtnt1vl4p6z.initialize(options);rizdtnt1vl4p6z.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');</script>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
</div>
<div class='four spacing'></div>
