---
layout: default
title: Calendar
section_id: calendar
---

<div id="monthly-meetings" class='full parallax' style='background-image: url(/assets/images/stock/cheers.jpg); color: #fff;'>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Calendar" color="#fff" tagline="You should come" class="big" %}
      <div class="spacing"></div>
      <div class="alert-box text-center">
        Meeting location and topic are subject to change. Please sign up for the <a href='/membership/newsletter/'>newsletter</a> and follow us on social media to get all the updates. Meetings are intended for members, but we offer a <a href='/membership/join/'>drop-in member rate</a> if you want to try one out.
      </div>
      <div class="spacing"></div>
      {% include meetings.html  %}
    </div>
  </div>
</div>



