---
layout: default
title: About
section_id: about
---

<div class='full parallax' style='background-image: url(/assets/images/stock/brewing-beer.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="The Calgary Homebrewers Association" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="large-12 columns">
    <p>
      The Cowtown Yeast Wranglers are a Calgary-based club of homebrewers and beer enthusiasts. The club was founded in 2007 and has now grown to over 170 active members, making it the largest beer and homebrew club in Canada. Club meetings are held on the first Wednesday of every month at 8:00 pm at various breweries and craft beer locations around town (except in the summer months). Meeting activities vary, but typically they begin with a discussion of club business, followed by technical brewing presentations and discussion, followed by beer evaluation. Meeting locations are announced in our monthly newsletter and on our Facebook page.
    </p>
    <p>
      Currently, our club members include home brewers, pro brewers, certified beer judges,  and beer aficionados of all levels. Our members also include beginning brewers and those interested in beer and the brewing process. Come join our online discussion Forum and meet the gang. We welcome all levels of beer and brewing expertise, and the only prerequisite is that you have an interest and enthusiasm for our favourite beverage -- beer! Cheers!
    </p>
  </div>
</div>

<div class="four spacing"></div>

<div id="monthly-meetings" class='full parallax' style='background-image: url(/assets/images/stock/hops-still-alive-2.jpg); color: #fff;'>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Monthly Meetings" color="#fefefe" %}
      <div class="spacing"></div>
      {% include meetings.html  %}
    </div>
  </div>
</div>

<div class='full'>
  {% include sponsors.html %}
</div>
