---
layout: default
regenerate: true
section_id: home
slides:
  - bg: assets/images/stock/hops-1405519.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: You know you want to
    title:
      klass: bottom-to-top
      text: Membership
    buttons:
      klass: bottom-to-top
      items:
        - text: <i class="fa fa-user-plus"></i> Join or Renew
          link_to: /membership/join/
  - bg: assets/images/stock/refreshing-beer.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: get social
    title:
      klass: bottom-to-top
      text: Attend a Meeting
    buttons:
      klass: bottom-to-top
      items:
        - text: <i class="fa fa-user-plus"></i> Monthly Meetings
          link_to: '#monthly-meetings'

---

<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='off' data-timeout='3000'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="four spacing"></div>

<div class="row">
  <div class="large-12 columns">
    {% include section-header.html title="About The Club" %}
    <div class="spacing"></div>
    <p>
      The Cowtown Yeast Wranglers are a Calgary-based club of homebrewers and beer enthusiasts. The club was founded in 2007 and has now grown to over 170 active members, making it the largest beer and homebrew club in Canada. Club meetings are held on the first Wednesday of every month at 8:00 pm at various breweries and craft beer locations around town (except in the summer months). Meeting activities vary, but typically they begin with a discussion of club business, followed by technical brewing presentations and discussion, followed by beer evaluation. Meeting locations are announced in our monthly newsletter and on our Facebook page.
    </p>
    <p>
      Currently, our club members include home brewers, pro brewers, certified beer judges,  and beer aficionados of all levels. Our members also include beginning brewers and those interested in beer and the brewing process. Come join our online discussion Forum and meet the gang. We welcome all levels of beer and brewing expertise, and the only prerequisite is that you have an interest and enthusiasm for our favourite beverage -- beer! Cheers!
    </p>
  </div>
</div>

<div class="four spacing"></div>

<div id="monthly-meetings" class='full parallax' style='background-image: url(/assets/images/stock/hops-still-alive-2.jpg); color: #fff;'>
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Monthly Meetings" color="#fefefe" %}
      <div class="spacing"></div>
      {% include meetings.html  %}
    </div>
  </div>
</div>

<div class='full'>
  {% include sponsors.html %}
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
    {% if forloop.index > 3 %}
    {% break %}
    {% endif %}

    <div class='large-4 medium-4 columns'>
      <div class='mod modBlogPost'>
        {% for image in post.images %}
        {% unless forloop.first %}
        {% break %}
        {% endunless %}
        <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
        {% endfor %}
        <div class='content'>
          <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
          <h4><a href="#">{{post.title}}</a></h4>
          <p>{{post.excerpt}}</p>

          <div class="tags">
            {% for cat in post.categories %}
              <a href="#">{{cat | capitalize}}</a>
              {% unless forloop.last %}
                ,
              {% endunless %}
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>
